<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Profile</title>
    <link rel="stylesheet" href="/account/profile/style" />
    <script src="/account/profile/main" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body id="body" class="h-100 text-center text-white dark-mode bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../../partials/navbar'); %></div>

      <div
        id="content-wrap"
        class="cover-container w-100 d-flex align-items-center p-3 mx-auto"
      >
        <div class="row col-12">
          <main class="px-3">
            <h1><span class="contrast">Profile</span></h1>
            <% if (error) { %>
            <p class="message text-danger">
              <span class="contrast"><%= error %></span>
            </p>
            <% } else if(success) { %>
            <p class="message text-warning">
              <span class="contrast"><%= success %></span>
            </p>
            <% } %>
            <h3 id="edit-existing-header">
              <span class="contrast">Edit Existing</span>
            </h3>

            <table id="accounts-table" class="table table-borderless">
              <thead id="table-head" class="contrast">
                <tr>
                  <th scope="col">Platform</th>
                  <th scope="col">Account</th>
                  <th scope="col">Professional</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody id="accounts-table-body"></tbody>
            </table>
            <br />
            <h3 id="add-new-account-header">
              <span class="contrast">Add a New Account</span>
            </h3>
            <div>
              <input
                id="add-new-label"
                class="form-control inline-block-child"
                placeholder="Platform"
              />
              <input
                id="add-new-value"
                class="form-control inline-block-child"
                placeholder="Account"
              />
              <select class="form-select inline-block-child" id="add-new-type">
                <option value="" selected disabled>Account Type</option>
                <option value="0">Casual</option>
                <option value="1">Professional</option>
              </select>
            </div>
            <br />
            <button
              type="button"
              id="add-new-account-submit"
              class="btn btn-secondary inline-block-child text-white"
              disabled
              aria-label="add account"
            >
              Add Account
            </button>
            <br /><br />
            <div>
              <button
                id="cancel-changes"
                type="button"
                class="btn btn-light inline-block-child"
                disabled
                aria-label="cancel changes"
              >
                Cancel Changes
              </button>
              <button
                id="save-changes"
                type="button"
                class="btn btn-warning inline-block-child"
                disabled
                aria-label="save changes"
              >
                Save Changes
              </button>
              <!-- Button to trigger the help modal -->
              <button
                id="modal-btn"
                class="btn btn-light btn-outline-dark btn-m"
                type="button"
                aria-label="information"
              >
                <i id="info-button" class="fa-solid fa-circle-question"></i>
              </button>
              <!-- Help modal -->
              <div class="modal" aria-modal="true">
                <div class="modal-content">
                  <span class="close-btn">
                    <button
                      type="button"
                      class="btn-close btn-close-white"
                      aria-label="Close"
                    ></button
                  ></span>
                  <br />
                  <h1>Help Menu</h1>
                  <hr />
                  <p>
                    On this page, you can add a new social media account, edit
                    its' information, or delete it entirely. To save any such
                    changes, you must always select the "Save Changes" button.
                    If you want to undo those changes, you can select the
                    "Cancel Changes" button.
                  </p>
                  <h4>New Account Creation</h4>
                  <p>
                    You can add a new social media account by typing the
                    platform's name and your username or profile link into the
                    input fields. Then, you can select whether the account is
                    "Casual" or "Professional" from the dropdown and click the
                    "Add Account" button.
                  </p>
                  <h4>Account Information Editing</h4>
                  <p>
                    You can edit your existing social media accounts by typing
                    into the platform or account fields. You can specifically
                    indicate if the account is a "Professional" network by
                    toggling on the switch so that it becomes yellow. If it is
                    not yellow, the account is considered "Casual".
                  </p>
                  <h4>Account Deletion</h4>
                  <p>
                    You can click on the the red trash-can icon to delete the
                    respective social media account.
                  </p>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <%- include('../../partials/footer'); %> <%-
      include('../../partials/defaultSettings', {user: user}); %> <%-
      include('../../partials/modal'); %>
    </div>
  </body>
</html>
