<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Profile</title>
    <link rel="stylesheet" href="/account/profile/style" />
    <script src="/account/profile/main" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../../partials/navbar'); %></div>

      <!-- <h1>Social Media Platforms</h1> -->
      <div class="cover-container w-100 d-flex align-items-center p-3 mx-auto">
        <div class="row col-12">
          <main class="px-3">
            <h1>Profile</h1>
            <% if (error) { %>
            <p class="message text-danger"><%= error %></p>
            <% } else if(success) { %>
            <p class="message text-success"><%= success %></p>
            <% } %>
            <h1 id="edit-existing-header">Edit Existing</h1>

            <table id="accounts-table" class="table table-borderless">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Value</th>
                  <th>Professional</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody id="accounts-table-body"></tbody>
            </table>
            <br />
            <h1 id="add-new-account-header">Add a New Account</h1>
            <div>
              <input
                id="add-new-label"
                class="form-control inline-block-child"
                placeholder="Label"
              />
              <input
                id="add-new-value"
                class="form-control inline-block-child"
                placeholder="Value"
              />
              <select class="form-select inline-block-child" id="add-new-type">
                <option value="" selected disabled>Account Type</option>
                <option value="0">Casual</option>
                <option value="1">Professional</option>
              </select>
              <button
                type="button"
                id="add-new-account-submit"
                class="btn btn-warning inline-block-child"
                disabled
              >
                Add Account
              </button>
            </div>
            <br /><br />
            <div>
              <button
                id="cancel-changes"
                type="button"
                class="btn btn-light inline-block-child"
                disabled
              >
                Cancel Changes
              </button>
              <button
                id="save-changes"
                type="button"
                class="btn btn-success inline-block-child"
                disabled
              >
                Save Changes
              </button>
            </div>
          </main>
        </div>
      </div>
      <%- include('../../partials/footer'); %>
    </div>
  </body>
</html>
