<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Profile</title>
    <link rel="stylesheet" href="/account/profile/style" />
    <script src="/account/profile/main" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body id="body" class="h-100 text-center text-white dark-mode bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../../partials/navbar'); %></div>

      <!-- <h1>Social Media Platforms</h1> -->
      <div class="cover-container w-100 d-flex align-items-center p-3 mx-auto">
        <div class="row col-12">
          <main class="px-3">
            <h1><span class="contrast">Profile</span></h1>
            <% if (error) { %>
            <p class="message text-danger"><span class="contrast"><%= error %></span></p>
            <% } else if(success) { %>
            <p class="message text-warning"><span class="contrast"><%= success %></span></p>
            <% } %>
            <h1 id="edit-existing-header"><span class="contrast">Edit Existing</span></h1>

            <table id="accounts-table" class="table table-borderless">
              <thead id="table-head" class="contrast">
                <tr>
                  <th >Platform</th>
                  <th>Account</th>
                  <th>Professional</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody id="accounts-table-body"></tbody>
            </table>
            <br />
            <h1 id="add-new-account-header"><span class="contrast">Add a New Account</span></h1>
            <div>
              <input
                id="add-new-label"
                class="form-control inline-block-child"
                placeholder="Platform"
              />
              <input
                id="add-new-value"
                class="form-control inline-block-child"
                placeholder="Account"
              />
              <select class="form-select inline-block-child" id="add-new-type">
                <option value="" selected disabled>Account Type</option>
                <option value="0">Casual</option>
                <option value="1">Professional</option>
              </select>
            </div>
            <br />
            <button
              type="button"
              id="add-new-account-submit"
              class="btn btn-secondary inline-block-child text-white"
              disabled
            >
              Add Account
            </button>
            <br /><br />
            <div>
              <button
                id="cancel-changes"
                type="button"
                class="btn btn-light inline-block-child"
                disabled
              >
                Cancel Changes
              </button>
              <button
                id="save-changes"
                type="button"
                class="btn btn-warning inline-block-child"
                disabled
              >
                Save Changes
              </button>
            </div>
          </main>
        </div>
      </div>
      <%- include('../../partials/footer'); %> <%-
      include('../../partials/defaultSettings', {user: user}) %>
    </div>
  </body>
</html>
