<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Settings</title>
    <link rel="stylesheet" href="/account/settings/style" />
    <script src="/account/settings/main" type="module"></script>
  </head>
  <body id="body" class="h-100 text-center text-white dark-mode bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../../partials/navbar'); %></div>

      <div class="row col-12 text-center justify-content-center m-auto">
        <div class="text-center">
          <br />
          <h1 class="contrast">Settings</h1>
          <% if (error) { %>
          <p class="message text-danger contrast"><%= error %></p>
          <% } else if(success) { %>
          <p class="message text-gold contrast"><%= success %></p>
          <% } %>
        </div>

        <br />
        <form
          action="/account/settings/update"
          method="POST"
          class="text-center w-50"
        >
          <div class="form-group row">
            <label for="editFirstName" class="col-form-label contrast"
              >First Name:</label
            >
            <div>
              <input
                name="first_name"
                type="firstName"
                class="form-control"
                id="editFirstName"
                value="<%= user.first_name %>"
              />
            </div>
          </div>

          <br />
          <div class="form-group row">
            <label for="editLastName" class="col-form-label contrast"
              >Last Name:</label
            >
            <div>
              <input
                name="last_name"
                type="lastName"
                class="form-control"
                id="editLastName"
                value="<%= user.last_name %>"
              />
            </div>
          </div>

          <br />

          <div class="form-group row">
            <label for="editFontSize" class="col-form-label contrast"
              >Font Size:</label
            >
            <div>
              <div class="form-group">
                <select
                  name="font_size"
                  class="form-control"
                  id="editFontSize"
                ></select>
              </div>
            </div>
          </div>

          <br />

          <div class="form-group row">
            <label for="editFontFamily" class="col-form-label contrast"
              >Font Family:
            </label>
            <div>
              <div class="form-group">
                <select
                  name="font_family"
                  class="form-control"
                  id="editFontFamily"
                ></select>
              </div>
            </div>
          </div>

          <br />
          <div class="form-group row">
            <label for="editContrast" class="col-form-label contrast mb-2"
              >Contrast:</label
            >
            <div>
              <div class="form-check">
                <label class="form-check-label contrast" for="lowContrast">
                  Low
                </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="contrast"
                  id="lowContrast"
                  value="Low"
                />
              </div>
              <div class="form-check">
                <label class="form-check-label contrast" for="highContrast">
                  High
                </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="contrast"
                  id="highContrast"
                  value="High"
                />
              </div>
            </div>
          </div>

          <br />
          <div class="form-group row">
            <label for="editTheme" class="col-form-label contrast"
              >Theme:</label
            >
            <div>
              <div class="form-group">
                <select
                  name="theme"
                  class="form-control"
                  id="editTheme"
                ></select>
              </div>
            </div>
          </div>
          <br />
          <div class="mb-3">
            <button
              id="cancel-changes"
              type="button"
              class="btn btn-light inline-block-child"
              disabled
            >
              Cancel Changes
            </button>
            <button
              id="save-changes"
              type="submit"
              class="btn btn-warning inline-block-child"
              disabled
            >
              Save Changes
            </button>
          </div>
        </form>
      </div>
      <div class="pt-3">
        <%- include('../../partials/footer'); %> <%-
        include('../../partials/defaultSettings', {user: user}) %> <%-
        include('../../partials/setSettingsForm', {user: user}) %>
      </div>
    </div>
  </body>
</html>
