<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Settings</title>
    <link rel="stylesheet" href="/account/settings/style" />
    <script src="/account/settings/main" type="module"></script>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div class="row col-12"><%- include('../../partials/navbar'); %></div>

    <!-- Parse the user's settings as JSON before using. -->
    <% var settings = JSON.parse(user.settings); %>

    <!-- Create the options. -->
    <%var options = { font_size: ["12pt", "14pt", "16pt", "18pt"], font_family:
    ["Times New Roman", "Arial", "Helvetica", "Sans-Serif"], contrast: ["Low",
    "High"], theme: ["Light Theme", "Dark Theme"], }; %>

    <div class="col-sm-2">
      <br />
      <h1>Settings</h1>
      <p class="message text-danger"><%= error %></p>
    </div>

    <br />
    <form action="/account/settings/update" method="POST">
      <div class="form-group row">
        <label for="editFirstName" class="col-sm-2 col-form-label"
          >First Name:</label
        >
        <div class="col-sm-2">
          <input
            name="first_name"
            type="firstName"
            class="form-control"
            id="editFirstName"
            value="<%= user.first_name %>"
          />
        </div>
      </div>

      <br />
      <div class="form-group row">
        <label for="editLastName" class="col-sm-2 col-form-label"
          >Last Name:</label
        >
        <div class="col-sm-2">
          <input
            name="last_name"
            type="lastName"
            class="form-control"
            id="editLastName"
            value="<%= user.last_name %>"
          />
        </div>
      </div>

      <br />

      <div class="form-group row">
        <label for="inputFontSize" class="col-sm-2 col-form-label"
          >Font Size:</label
        >
        <div class="col-sm-2">
          <div class="form-group">
            <select name="font_size" class="form-control" id="inputFontSize">
              <!-- Adds the options and selects the user's current setting. -->
              <% options.font_size.forEach( (option) => { if (settings.font_size
              === option) { %>
              <option selected value="<%= option %>"><%= option %></option>
              <% } else { %>
              <option value="<%= option %>"><%= option %></option>
              <% } }); %> } ); %>
            </select>
          </div>
        </div>
      </div>

      <br />

      <div class="form-group row">
        <label for="inputFontFamily" class="col-sm-2 col-form-label"
          >Font Family:
        </label>
        <div class="col-sm-2">
          <div class="form-group">
            <select
              name="font_family"
              class="form-control"
              id="inputFontFamily"
            >
              <!-- Adds the options and selects the user's current setting. -->
              <% options.font_family.forEach( (option) => { if
              (settings.font_family === option) { %>
              <option selected value="<%= option %>"><%= option %></option>
              <% } else { %>
              <option value="<%= option %>"><%= option %></option>
              <% } }); %> } ); %>
            </select>
          </div>
        </div>
      </div>

      <br />
      <div class="form-group row">
        <label for="inputContrast" class="col-sm-2 col-form-label"
          >Contrast:</label
        >
        <div class="col-sm-1">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="contrast"
            id="gridRadios1" value="Low" <% if(settings.contrast === 'Low') { %>
            checked <% } %> />
            <label class="form-check-label" for="gridRadios1"> Low </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="contrast"
            id="gridRadios2" value="High" <% if(settings.contrast === 'High') {
            %> checked <% } %> />
            <label class="form-check-label" for="gridRadios2"> High </label>
          </div>
        </div>
      </div>

      <br />
      <div class="form-group row">
        <label for="inputTheme" class="col-sm-2 col-form-label">Theme:</label>
        <div class="col-sm-2">
          <div class="form-group">
            <select name="theme" class="form-control" id="inputTheme">
              <!-- Adds the options and selects the user's current setting. -->
              <% options.theme.forEach( (option) => { if (settings.theme ===
              option) { %>
              <option selected value="<%= option %>"><%= option %></option>
              <% } else { %>
              <option value="<%= option %>"><%= option %></option>
              <% } }); %> } ); %>
            </select>
          </div>
        </div>
      </div>

      <br />
      <div class="col-sm-2">
        <button class="button submit">Submit</button>
      </div>
    </form>

    <%- include('../../partials/footer'); %>
  </body>
</html>
