<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Settings</title>
    <link rel="stylesheet" href="/account/settings/style" />
    <script src="/account/settings/main" type="module"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body id="body" class="h-100 text-center text-white dark-mode bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../../partials/navbar'); %></div>

      <div
        id="content-wrap"
        class="row col-12 text-center justify-content-center m-auto"
      >
        <div class="text-center">
          <br />
          <h1><span class="contrast">Settings</span></h1>
          <% if (error) { %>
          <p class="message text-danger">
            <span class="contrast"><%= error %></span>
          </p>
          <% } else if(success) { %>
          <p class="message text-gold">
            <span class="contrast"><%= success %></span>
          </p>
          <% } %>
        </div>

        <br />
        <form
          action="/account/settings/update"
          method="POST"
          class="text-center w-50"
        >
          <div class="form-group row">
            <label for="editFirstName" class="col-form-label"
              ><span class="contrast">First Name:</span></label
            >
            <div>
              <input
                name="first_name"
                type="firstName"
                class="form-control"
                id="editFirstName"
                value="<%= user.first_name %>"
                aria-label="first name"
              />
            </div>
          </div>

          <br />
          <div class="form-group row">
            <label for="editLastName" class="col-form-label"
              ><span class="contrast">Last Name:</span></label
            >
            <div>
              <input
                name="last_name"
                type="lastName"
                class="form-control"
                id="editLastName"
                value="<%= user.last_name %>"
                aria-label="last name"
              />
            </div>
          </div>

          <br />

          <div class="form-group row">
            <label for="editFontSize" class="col-form-label"
              ><span class="contrast">Font Size:</span></label
            >
            <div>
              <div class="form-group">
                <select
                  name="font_size"
                  class="form-control"
                  id="editFontSize"
                  aria-label="font size"
                ></select>
              </div>
            </div>
          </div>

          <br />

          <div class="form-group row">
            <label for="editFontFamily" class="col-form-label"
              ><span class="contrast">Font Family:</span>
            </label>
            <div>
              <div class="form-group">
                <select
                  name="font_family"
                  class="form-control"
                  id="editFontFamily"
                  aria-label="font family"
                ></select>
              </div>
            </div>
          </div>

          <br />
          <div class="form-group row">
            <label for="editContrast" class="col-form-label mb-2"
              ><span class="contrast">Contrast:</span></label
            >
            <div>
              <div class="form-check">
                <label class="form-check-label contrast" for="lowContrast">
                  Low
                </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="contrast"
                  id="lowContrast"
                  value="Low"
                  aria-label="low contrast"
                />
              </div>
              <br />
              <div class="form-check">
                <label class="form-check-label" for="highContrast">
                  <span class="contrast">High</span>
                </label>
                <input
                  class="form-check-input"
                  type="radio"
                  name="contrast"
                  id="highContrast"
                  value="High"
                  aria-label="high contrast"
                />
              </div>
            </div>
          </div>

          <br />
          <div class="form-group row">
            <label for="editTheme" class="col-form-label"
              ><span class="contrast">Theme:</span></label
            >
            <div>
              <div class="form-group">
                <select
                  name="theme"
                  class="form-control"
                  id="editTheme"
                  aria-label="theme"
                ></select>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="mb-3">
            <button
              id="cancel-changes"
              type="button"
              class="btn btn-light inline-block-child"
              disabled
              aria-label="cancel changes"
            >
              Cancel Changes
            </button>
            <button
              id="save-changes"
              type="submit"
              class="btn btn-warning inline-block-child"
              disabled
              aria-label="save changes"
            >
              Save Changes
            </button>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-danger"
              onclick="deleteAccount()"
              aria-label="delete account"
            >
              <i class="fa-solid fa-trash-can"></i> Delete G.O.O.N Account
            </button>
            <!-- Button to trigger the help modal -->
            <button
              id="modal-btn"
              class="btn btn-outline-secondary btn-m"
              type="button"
              aria-label="information"
            >
              <i id="info-button" class="fa-solid fa-circle-question"></i>
            </button>
            <!-- Help modal -->
            <div class="helpModal" aria-label="help modal">
              <div class="helpModal" aria-label="help modal">
                <div class="modal">
                  <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h1>Help Menu</h1>
                    <hr />
                    <p>
                      You can customize the overall settings for the application
                      to your liking. You can edit your first and last names.
                      From a dropdown list of options, you can select any font
                      size and font family you prefer.
                    </p>
                    <br />
                    <p>
                      You can also select either a high or low contrast option
                      that changes the appearance of text. There's also an
                      option to choose between a light and dark theme whose
                      scope affects the entire page, not just the text. The
                      theme and contrast mode features allow users to invert
                      foreground and background colors which often helps text
                      stand out better.
                    </p>
                    <br />
                    <p>
                      To commit any changes, select the "Save Changes" button.
                      Otherwise, to undo any changes, select the "Cancel
                      Changes" button. Finally, if you'd like to delete your
                      overall G.O.O.N card account, you can select the red
                      button.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <br />
      <div class="pt-3">
        <%- include('../../partials/footer'); %> <%-
        include('../../partials/defaultSettings', {user: user}) %> <%-
        include('../../partials/setSettingsForm', {user: user}) %>
      </div>
    </div>
  </body>
</html>
