<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/aboutus/style" />
    <script src="/aboutus/main" type="module"></script>
    <title>About Us</title>
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div class="row col-12"><%- include('../partials/navbar'); %></div>

    <div
      class="cover-container w-100 d-flex align-items-center p-3 mx-auto"
    >
      <div class="row col-12">
        <main class="px-3">
          <h1 class="display-4">Goon up Brah.</h1>
          <h1>Hello World!</h1>
          <p>This file was served with Express.</p>
          <p>Here is your information:</p>
          <ul>
            <li>First Name: <%= user.first_name %></li>
            <li>Last Name: <%= user.last_name %></li>
            <li>Email: <%= user.email %></li>
            <li>Password: <%= user.password %></li>
            <li>
              Settings:
              <ul>
                <% var settings = JSON.parse(user.settings);
                Object.keys(settings).forEach( (key) => { %>
                <li><%= key %>: <%= settings[key] %></li>
                <% }); %>
              </ul>
            </li>
          </ul>

          <a
            href="#"
            class="btn btn-warning btn-lg"
            role="button"
            aria-disabled="true"
            >Generate</a
          >
        </main>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
